.navTab{
	margin: 0;
	padding: 0;
	background-color: #313e75;
	position: relative;
	height: 100%;
	overflow: auto;
	width: 100%;
	height: auto;
}
.nav-left{
	float: left;
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
}

.nav-right{
	float: right;
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
}

.navTab a:hover {
	background-color: #1B275B;
}